[submodule "jekyll-search"]
	path = jekyll-search
	url = https://github.com/Guang1234567/jekyll-search.git
[submodule "tctip"]
	path = tctip
	url = https://github.com/Guang1234567/tctip.git
[submodule "lightbox"]
	path = lightbox
	url = https://github.com/Guang1234567/lightbox
